<form action="http://thehappeningplace.createsend.com/t/j/s/tlirjl/" method="post" id="subForm">
<div>
<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
<label for="tlirjl-tlirjl">Email:</label><br /><input type="text" name="cm-tlirjl-tlirjl" id="tlirjl-tlirjl" /><br />

<input type="submit" value="Subscribe" />
</div>
</form>